<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>0e066f8edf0fd4295d6191be67199964.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,234}</string>
				<key>spriteSourceSize</key>
				<string>{73,234}</string>
				<key>textureRect</key>
				<string>{{0,0},{73,234}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3811dc60fbb41d44f5174ea06bad8403.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,234}</string>
				<key>spriteSourceSize</key>
				<string>{73,234}</string>
				<key>textureRect</key>
				<string>{{74,0},{73,234}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>4f7559ad008e1a950e367401453e5d61.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,29}</string>
				<key>spriteSourceSize</key>
				<string>{24,29}</string>
				<key>textureRect</key>
				<string>{{148,125},{24,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>52711fb63728953a5f8650f274691f6f.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,33}</string>
				<key>spriteSourceSize</key>
				<string>{15,33}</string>
				<key>textureRect</key>
				<string>{{148,0},{15,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>58291c29724f4147429db32224a94990.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{148,150},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>82d82a93bdfbb8e70daaea9cddd06ea2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{164,0},{24,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>967d73cf1d64aaefcced2c89fe818bc8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,33}</string>
				<key>spriteSourceSize</key>
				<string>{15,33}</string>
				<key>textureRect</key>
				<string>{{148,34},{15,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>9ddfaf13049c0f47340d5aed2205a6f7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{148,175},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b715ee967a979d675dc286fac7fbcfbe.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{148,50},{24,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>b9bb3e4f405cdb0290e3cdbbc0a93c58.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{148,75},{24,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>eb7db0a61a2a98e6a956bf0e2003c286.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{148,100},{24,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Bosses-uhd.png</string>
			<key>size</key>
			<string>{188,234}</string>
			<key>textureFileName</key>
			<string>DF_Bosses-uhd.png</string>
		</dict>
	</dict>
</plist>