<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>038f5d38ffa0c52daf6a5bc5bfaae59e.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,32}</string>
				<key>spriteSourceSize</key>
				<string>{26,32}</string>
				<key>textureRect</key>
				<string>{{97,46},{26,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>069966a3cdb5393406b3a7193372a95b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,45}</string>
				<key>spriteSourceSize</key>
				<string>{15,45}</string>
				<key>textureRect</key>
				<string>{{59,0},{15,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>069b2d24022db1d9c772fe9cf66cc92b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{0,131},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>078bf9e7dcc07967799c3fa74dd4f6b8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{33,131},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>08d797ae64c08f6a6da1b0e06e882af3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{66,131},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>09cabdf5349b34bbe4d3784e551b36e8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{99,129},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>0cf34134a2321b3f481c3f9b6122af84.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{225,198},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>17970f3c8c892f1423d057ccbac5a183.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{242,198},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>19b1d91726fcc498b76dbb2c5c8c5c09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{132,0},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>1a6cd7b22b5451875e4ace83de506d25.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{132,33},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>200d14166d35601851c9c5732c1a25e3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{132,66},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>23a89258ad27b5f75de7893a9c7c08d7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{132,99},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>246f9451f66719dffaa39978323d7e06.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,16}</string>
				<key>spriteSourceSize</key>
				<string>{15,16}</string>
				<key>textureRect</key>
				<string>{{110,230},{15,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>24879ac244e617b4430f5e5d9c8c7ece.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{132,132},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>283bd6c45806bb3171fb7eb4fbae34c7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{99,162},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>294ff772d61bda6729804be97bf0ed67.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{0,164},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>2c1ea49b6df3544e4697e3f64bfa7ad1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{33,164},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>2d3c0bae0d0fb2728fe87bb20a1fd100.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{66,164},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>32fc543714ff9889223f13737ed07de8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,3}</string>
				<key>spriteSourceSize</key>
				<string>{16,3}</string>
				<key>textureRect</key>
				<string>{{249,181},{16,3}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>349719e08641d635c56ef8638fa50938.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{165,0},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>35c61853f9b345c81613eab3d57b2df6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{225,215},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3b13fe21ee43fc790419da4e3b68ce9c.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{165,33},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3b4c5f18e5211464590825b0d78d357b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{16,4}</string>
				<key>spriteSourceSize</key>
				<string>{16,5}</string>
				<key>textureRect</key>
				<string>{{259,159},{16,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>3f7e69afb800170fec9b796428b01c6a.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{37,45}</string>
				<key>spriteSourceSize</key>
				<string>{38,45}</string>
				<key>textureRect</key>
				<string>{{59,46},{37,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>41fb2878d433c46231995f75504f610d.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{165,66},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>45fd87ec97ea364fdf2440b19ee641ec.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{242,215},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>4d0086e35c3a3e9d2dbb6c479b4771b1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,52}</string>
				<key>spriteSourceSize</key>
				<string>{32,52}</string>
				<key>textureRect</key>
				<string>{{0,0},{32,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>4f5be3eab3209f663cd78d72d14381f1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,13}</string>
				<key>spriteSourceSize</key>
				<string>{13,13}</string>
				<key>textureRect</key>
				<string>{{85,264},{13,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>52839b991f0f16f6e6a2bafa7b305adf.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{11,45}</string>
				<key>spriteSourceSize</key>
				<string>{11,46}</string>
				<key>textureRect</key>
				<string>{{75,0},{11,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>54f4ba28dfb67f9e775e70fd56e4268d.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{225,232},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>56348d4317730e2fe4f1979856eafd4c.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,25}</string>
				<key>spriteSourceSize</key>
				<string>{38,25}</string>
				<key>textureRect</key>
				<string>{{46,92},{38,25}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>5a6d99fd88f6525be1fdd2fa4d765ca5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{165,99},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>5e200d8c2fdf9b9f71ab752a02534c59.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{165,132},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>5f1c82243599dac147d3dca9e5224af7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{0,197},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>5f343732b1a1d92d762fa4c84146fadf.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{35,18}</string>
				<key>spriteSourceSize</key>
				<string>{35,18}</string>
				<key>textureRect</key>
				<string>{{113,0},{35,18}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>6022226060bcfdd842084a570dfa9dbd.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{21,27}</string>
				<key>spriteSourceSize</key>
				<string>{21,27}</string>
				<key>textureRect</key>
				<string>{{137,165},{21,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>61079177382a6cdd695f0ab2f9fec660.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,32}</string>
				<key>spriteSourceSize</key>
				<string>{28,32}</string>
				<key>textureRect</key>
				<string>{{33,197},{28,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>616f3c94608db167f11e82a297a18b7a.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{16,17}</string>
				<key>spriteSourceSize</key>
				<string>{16,18}</string>
				<key>textureRect</key>
				<string>{{109,106},{16,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>645aa691c2d19130a3828ea2f90aa65e.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,32}</string>
				<key>spriteSourceSize</key>
				<string>{30,32}</string>
				<key>textureRect</key>
				<string>{{62,197},{30,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>64cfd7685a25a1f1a6179d9f3f8ed436.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>textureRect</key>
				<string>{{72,92},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>66126cb489df4279318bc55871cf0d27.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{93,197},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>6baf8eb50485078f34720a908240e882.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{242,232},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>6fc6c7bca78e83819495f0d730e3c4cf.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,32}</string>
				<key>spriteSourceSize</key>
				<string>{22,32}</string>
				<key>textureRect</key>
				<string>{{109,73},{22,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>71f1e89575e175f3c12ba0a817e735da.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{126,195},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>726d679cc12d741b3f12ddd532d92592.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,45}</string>
				<key>spriteSourceSize</key>
				<string>{25,45}</string>
				<key>textureRect</key>
				<string>{{87,0},{25,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>79300e12ca75c7a1c8fff5d4a48659f7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{159,165},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>7fb9cf1b3e1b1cc65fb4d1e4a8e865a4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{0,263},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>81aecb28f77bd8c4ee9460700da61d94.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,16}</string>
				<key>spriteSourceSize</key>
				<string>{15,16}</string>
				<key>textureRect</key>
				<string>{{110,247},{15,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>845190d13796ef0e43ef26047765e68f.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{17,263},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>8bfa3c701c523bce1c3473387a179c3c.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{16,17}</string>
				<key>spriteSourceSize</key>
				<string>{16,18}</string>
				<key>textureRect</key>
				<string>{{231,181},{16,17}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>8d256e9f1d58dba50f10a151caeeaee3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{11,14}</string>
				<key>spriteSourceSize</key>
				<string>{11,14}</string>
				<key>textureRect</key>
				<string>{{47,47},{11,14}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>8d46687dbc42c883b3a0a9173e5cff30.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{198,0},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>92a0f32146d404d41fb6ff7c4208c952.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{198,33},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>980144c687c957eaae736ac0d7528fc5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{198,66},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>98fa25ea51f0260cff6393647d606602.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{198,99},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>991081071791ed125b2f58f64fa8cfc3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{34,263},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a032fb76058953e00b6c4c27d679eee4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,32}</string>
				<key>spriteSourceSize</key>
				<string>{30,32}</string>
				<key>textureRect</key>
				<string>{{198,132},{30,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>a16481151f2672fa704ecc6078da3733.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,28}</string>
				<key>spriteSourceSize</key>
				<string>{31,28}</string>
				<key>textureRect</key>
				<string>{{231,130},{31,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a80038708ea1fb6e35dc8f478c72060a.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{21,27}</string>
				<key>spriteSourceSize</key>
				<string>{21,27}</string>
				<key>textureRect</key>
				<string>{{231,159},{21,27}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>a86df208e04fa32705bdc05bd3edc025.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,32}</string>
				<key>spriteSourceSize</key>
				<string>{26,32}</string>
				<key>textureRect</key>
				<string>{{198,163},{26,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>b29fa4a5134859ce30843bd06ac50b6f.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{192,190},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b5135d5c33509c3c50da4df1d56ccd76.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{159,198},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b7dd8b167946f5c5bf7cc9e1694e997f.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,46}</string>
				<key>spriteSourceSize</key>
				<string>{25,46}</string>
				<key>textureRect</key>
				<string>{{33,0},{25,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bc82c8534d982b530e6ceef9459e05e0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{126,228},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bf39e1556ee70603df6416e9030d5566.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{51,263},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c08e5300f8c01ca4946e3e20bbcd555e.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,4}</string>
				<key>spriteSourceSize</key>
				<string>{28,4}</string>
				<key>textureRect</key>
				<string>{{132,165},{28,4}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>cd768affcf0ea3a4cc98a8ef56f70b64.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{0,230},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>d1b7fdac70d32aba260dd7d9ff642949.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{33,230},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>d3795d471f762800827550b5eb9da839.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{66,230},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dbab24938f316a149444cb59de45a3bc.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{192,223},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>e0cccbbf45d4d7317f6416d8feeff082.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{231,0},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>e5a12e495f819b80d4f314932ef9a1e8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{231,33},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ecc56aaf1bd5b8fae3eb13261f35ef52.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{231,66},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>f0328d0fbd3d0d5dd887f2f4c0665440.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,32}</string>
				<key>spriteSourceSize</key>
				<string>{10,32}</string>
				<key>textureRect</key>
				<string>{{99,230},{10,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>f12918bd8be2d58e32c0d55e385cd514.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,45}</string>
				<key>spriteSourceSize</key>
				<string>{38,45}</string>
				<key>textureRect</key>
				<string>{{0,92},{38,45}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>f870e35d2efd86a2d8b1cb21a0275af4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{22,32}</string>
				<key>spriteSourceSize</key>
				<string>{22,32}</string>
				<key>textureRect</key>
				<string>{{159,231},{22,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>fac538ae9be12b0af9ff1d200123bcaa.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,32}</string>
				<key>spriteSourceSize</key>
				<string>{30,32}</string>
				<key>textureRect</key>
				<string>{{231,99},{30,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>fd244c00cffa043327d9249c63f016f0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>textureRect</key>
				<string>{{68,263},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fe8fe9a54891b274ac8de3b8cc5f30c4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,46}</string>
				<key>spriteSourceSize</key>
				<string>{38,46}</string>
				<key>textureRect</key>
				<string>{{0,53},{38,46}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Blocks-uhd.png</string>
			<key>size</key>
			<string>{263,279}</string>
			<key>textureFileName</key>
			<string>DF_Blocks-uhd.png</string>
		</dict>
	</dict>
</plist>