<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{580,665},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{622,665},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{580,707},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{656,655}</string>
				<key>spriteSourceSize</key>
				<string>{656,655}</string>
				<key>textureRect</key>
				<string>{{0,0},{656,655}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{622,707},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{580,749},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>16.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{622,749},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>17.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,0},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>18.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,42},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>19.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,84},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>20.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,32}</string>
				<key>spriteSourceSize</key>
				<string>{28,32}</string>
				<key>textureRect</key>
				<string>{{666,126},{28,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>29.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,168},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,210},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,252},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,294},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,336},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,378},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,420},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,462},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,504},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,546},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,588},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{666,630},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>30.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{664,672},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>38.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{664,714},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>39.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{664,756},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{704,126},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>40.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,0},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>41.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,168},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>49.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{21,27}</string>
				<key>spriteSourceSize</key>
				<string>{21,27}</string>
				<key>textureRect</key>
				<string>{{750,0},{21,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,42},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>50.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{21,27}</string>
				<key>spriteSourceSize</key>
				<string>{21,27}</string>
				<key>textureRect</key>
				<string>{{750,168},{21,27}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>51.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,210},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>52.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,84},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>53.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,252},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>54.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,294},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>55.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,336},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>6.0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,378},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,420},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>66.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{140,140}</string>
				<key>spriteSourceSize</key>
				<string>{140,140}</string>
				<key>textureRect</key>
				<string>{{0,665},{140,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>67.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{140,140}</string>
				<key>spriteSourceSize</key>
				<string>{140,140}</string>
				<key>textureRect</key>
				<string>{{150,665},{140,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,462},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,504},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>83.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,546},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>84.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,588},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>85.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{708,630},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>86.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{706,672},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>87.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{706,714},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>88.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{706,756},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{746,126},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{300,665},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{300,739},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{370,665},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{370,739},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{440,665},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{440,739},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{510,665},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>c8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>textureRect</key>
				<string>{{510,739},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Blocks-uhd.png</string>
			<key>size</key>
			<string>{782,805}</string>
			<key>textureFileName</key>
			<string>DF_Blocks-uhd.png</string>
		</dict>
	</dict>
</plist>