<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>17ba16309ee5e2c530c110cec4dd21f7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{76,131}</string>
				<key>spriteSourceSize</key>
				<string>{76,131}</string>
				<key>textureRect</key>
				<string>{{0,219},{76,131}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>2c262dea9612d6b6c6241edb65616aa5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{76,131}</string>
				<key>spriteSourceSize</key>
				<string>{76,131}</string>
				<key>textureRect</key>
				<string>{{137,137},{76,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>2d4558954cee187c53ab5234d9712ab1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,136}</string>
				<key>spriteSourceSize</key>
				<string>{81,136}</string>
				<key>textureRect</key>
				<string>{{0,0},{81,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>30427cc5b54294a910d6ae42723719dc.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,136}</string>
				<key>spriteSourceSize</key>
				<string>{70,136}</string>
				<key>textureRect</key>
				<string>{{82,0},{70,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>36577437d610e069c25d221ef9a20f9d.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,136}</string>
				<key>spriteSourceSize</key>
				<string>{81,136}</string>
				<key>textureRect</key>
				<string>{{0,137},{81,136}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>8c852e6adac5bf59f7ec9a4c1b4a69de.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,136}</string>
				<key>spriteSourceSize</key>
				<string>{80,136}</string>
				<key>textureRect</key>
				<string>{{153,0},{80,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a574dcf7b45332f423468655fe12a13b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{119,122}</string>
				<key>spriteSourceSize</key>
				<string>{119,122}</string>
				<key>textureRect</key>
				<string>{{0,296},{119,122}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>b173da7ba8c052ab593d958c0ffbb8d7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,131}</string>
				<key>spriteSourceSize</key>
				<string>{81,131}</string>
				<key>textureRect</key>
				<string>{{234,0},{81,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>b926440c57b6e9a2a7752af749db4896.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{76,109}</string>
				<key>spriteSourceSize</key>
				<string>{76,109}</string>
				<key>textureRect</key>
				<string>{{132,269},{76,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>d016e8e81a4ffc9bab05962b6be5408a.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,131}</string>
				<key>spriteSourceSize</key>
				<string>{81,131}</string>
				<key>textureRect</key>
				<string>{{234,132},{81,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>f988504fa14b730fae37b41e4195d1fa.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,121}</string>
				<key>spriteSourceSize</key>
				<string>{80,121}</string>
				<key>textureRect</key>
				<string>{{214,264},{80,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Player1-uhd.png</string>
			<key>size</key>
			<string>{315,415}</string>
			<key>textureFileName</key>
			<string>DF_Player1-uhd.png</string>
		</dict>
	</dict>
</plist>