<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>SignPost10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{512,708}</string>
				<key>spriteSourceSize</key>
				<string>{512,708}</string>
				<key>textureRect</key>
				<string>{{0,0},{512,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPost11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{442,708}</string>
				<key>spriteSourceSize</key>
				<string>{442,708}</string>
				<key>textureRect</key>
				<string>{{522,0},{442,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPost12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{442,708}</string>
				<key>spriteSourceSize</key>
				<string>{442,708}</string>
				<key>textureRect</key>
				<string>{{0,718},{442,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPost13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{368,708}</string>
				<key>spriteSourceSize</key>
				<string>{368,708}</string>
				<key>textureRect</key>
				<string>{{452,718},{368,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPost14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{236,708}</string>
				<key>spriteSourceSize</key>
				<string>{236,708}</string>
				<key>textureRect</key>
				<string>{{830,718},{236,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPost15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,708}</string>
				<key>spriteSourceSize</key>
				<string>{188,708}</string>
				<key>textureRect</key>
				<string>{{974,0},{188,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPost9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{588,708}</string>
				<key>spriteSourceSize</key>
				<string>{588,708}</string>
				<key>textureRect</key>
				<string>{{1076,718},{588,708}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{586,704}</string>
				<key>spriteSourceSize</key>
				<string>{586,704}</string>
				<key>textureRect</key>
				<string>{{1172,0},{586,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{542,704}</string>
				<key>spriteSourceSize</key>
				<string>{542,704}</string>
				<key>textureRect</key>
				<string>{{0,1436},{542,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{466,704}</string>
				<key>spriteSourceSize</key>
				<string>{466,704}</string>
				<key>textureRect</key>
				<string>{{552,1436},{466,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{398,704}</string>
				<key>spriteSourceSize</key>
				<string>{398,704}</string>
				<key>textureRect</key>
				<string>{{1028,1436},{398,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{330,704}</string>
				<key>spriteSourceSize</key>
				<string>{330,704}</string>
				<key>textureRect</key>
				<string>{{1436,1436},{330,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{280,704}</string>
				<key>spriteSourceSize</key>
				<string>{280,704}</string>
				<key>textureRect</key>
				<string>{{1674,714},{280,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>SignPostPlayer1.7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{228,704}</string>
				<key>spriteSourceSize</key>
				<string>{228,704}</string>
				<key>textureRect</key>
				<string>{{1768,0},{228,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>end_sign-uhd.png</string>
			<key>size</key>
			<string>{2098,2140}</string>
			<key>textureFileName</key>
			<string>end_sign-uhd.png</string>
		</dict>
	</dict>
</plist>