<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Final-Hurt.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,234}</string>
				<key>spriteSourceSize</key>
				<string>{73,234}</string>
				<key>textureRect</key>
				<string>{{0,0},{73,234}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Final-Normal.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,234}</string>
				<key>spriteSourceSize</key>
				<string>{73,234}</string>
				<key>textureRect</key>
				<string>{{74,0},{73,234}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Normal-2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,29}</string>
				<key>spriteSourceSize</key>
				<string>{24,29}</string>
				<key>textureRect</key>
				<string>{{148,125},{24,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>Dead-3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,33}</string>
				<key>spriteSourceSize</key>
				<string>{15,33}</string>
				<key>textureRect</key>
				<string>{{148,0},{15,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Normal-1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{148,150},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Dead-2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{164,0},{24,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Dead-4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,33}</string>
				<key>spriteSourceSize</key>
				<string>{15,33}</string>
				<key>textureRect</key>
				<string>{{148,34},{15,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>Hurt-1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,24}</string>
				<key>textureRect</key>
				<string>{{148,175},{24,24}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Dead-1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{148,50},{24,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>Normal-3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{148,75},{24,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>Hurt-2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,33}</string>
				<key>spriteSourceSize</key>
				<string>{24,33}</string>
				<key>textureRect</key>
				<string>{{148,100},{24,33}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Bosses-uhd.png</string>
			<key>size</key>
			<string>{188,234}</string>
			<key>textureFileName</key>
			<string>DF_Bosses-uhd.png</string>
		</dict>
	</dict>
</plist>
