<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1f6bb1eeca9c4ae359cb2487b737423e.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,138}</string>
				<key>spriteSourceSize</key>
				<string>{480,138}</string>
				<key>textureRect</key>
				<string>{{481,1283},{480,138}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>w1f.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,310}</string>
				<key>spriteSourceSize</key>
				<string>{480,310}</string>
				<key>textureRect</key>
				<string>{{482,1982},{480,310}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>519ae6ea43d278be158d5fe32d0081f9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{720,960}</string>
				<key>spriteSourceSize</key>
				<string>{720,960}</string>
				<key>textureRect</key>
				<string>{{964,0},{720,960}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>6169beca2efd8cf692ccb1d26b207930.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,1462}</string>
				<key>spriteSourceSize</key>
				<string>{480,1462}</string>
				<key>textureRect</key>
				<string>{{0,0},{480,1462}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>7de3f4a4cd71951901b785a5d2c219ca.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{960,518}</string>
				<key>spriteSourceSize</key>
				<string>{960,518}</string>
				<key>textureRect</key>
				<string>{{0,1463},{960,518}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>82dc8ba8a69f5e2d67d427fcae8ec0c9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{518,960}</string>
				<key>spriteSourceSize</key>
				<string>{518,960}</string>
				<key>textureRect</key>
				<string>{{964,961},{518,960}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>859ceea04be28a5fd54d7f5c44225520.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{720,960}</string>
				<key>spriteSourceSize</key>
				<string>{720,960}</string>
				<key>textureRect</key>
				<string>{{1685,0},{720,960}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>w1b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{482,1282}</string>
				<key>spriteSourceSize</key>
				<string>{482,1282}</string>
				<key>textureRect</key>
				<string>{{481,0},{482,1282}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a55577254e89098cc14b9828acd62749.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{518,960}</string>
				<key>spriteSourceSize</key>
				<string>{518,960}</string>
				<key>textureRect</key>
				<string>{{1483,961},{518,960}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bbd082b49cb8571b48c1ade1260eba0d.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{377,481}</string>
				<key>spriteSourceSize</key>
				<string>{377,481}</string>
				<key>textureRect</key>
				<string>{{2002,1474},{377,481}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bfb3745b4686f4e76ef034d9a8d7594e.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{147,512}</string>
				<key>spriteSourceSize</key>
				<string>{147,512}</string>
				<key>textureRect</key>
				<string>{{2002,961},{147,512}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>e4206140c847532b67ba92ca4e72be77.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,360}</string>
				<key>spriteSourceSize</key>
				<string>{480,360}</string>
				<key>textureRect</key>
				<string>{{963,1956},{480,360}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>e83d344cc623bf393b564afb4ea5670d.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{451,346}</string>
				<key>spriteSourceSize</key>
				<string>{451,346}</string>
				<key>textureRect</key>
				<string>{{0,2344},{451,346}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>eb5a495e9e44c891ec66445796485e6b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,360}</string>
				<key>spriteSourceSize</key>
				<string>{480,360}</string>
				<key>textureRect</key>
				<string>{{1444,1956},{480,360}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>f38b5fa56e4aab2dad4b79f2c2312585.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{481,361}</string>
				<key>spriteSourceSize</key>
				<string>{481,361}</string>
				<key>textureRect</key>
				<string>{{0,1982},{481,361}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>f41ab701984f73b9434d6103a5478217.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{480,164}</string>
				<key>spriteSourceSize</key>
				<string>{480,164}</string>
				<key>textureRect</key>
				<string>{{1925,1956},{480,164}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Background-uhd.png</string>
			<key>size</key>
			<string>{2405,2690}</string>
			<key>textureFileName</key>
			<string>DF_Background-uhd.png</string>
		</dict>
	</dict>
</plist>
