<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bumper.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{700,700}</string>
				<key>spriteSourceSize</key>
				<string>{700,700}</string>
				<key>textureRect</key>
				<string>{{0,186},{700,700}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>moving_block.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,32}</string>
				<key>spriteSourceSize</key>
				<string>{32,32}</string>
				<key>textureRect</key>
				<string>{{784,186},{32,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ShellChraker_arm.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{958,176}</string>
				<key>spriteSourceSize</key>
				<string>{958,176}</string>
				<key>textureRect</key>
				<string>{{0,0},{958,176}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ShellChraker_base.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{588,519}</string>
				<key>spriteSourceSize</key>
				<string>{588,519}</string>
				<key>textureRect</key>
				<string>{{0,896},{588,519}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Shied_icon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,26}</string>
				<key>spriteSourceSize</key>
				<string>{26,26}</string>
				<key>textureRect</key>
				<string>{{826,186},{26,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Spring.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,56}</string>
				<key>spriteSourceSize</key>
				<string>{64,56}</string>
				<key>textureRect</key>
				<string>{{710,186},{64,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Enitys-uhd.png</string>
			<key>size</key>
			<string>{958,1415}</string>
			<key>textureFileName</key>
			<string>DF_Enitys-uhd.png</string>
		</dict>
	</dict>
</plist>