<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>button_genreaic.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{286,72}</string>
				<key>spriteSourceSize</key>
				<string>{286,72}</string>
				<key>textureRect</key>
				<string>{{588,1028},{286,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>checkbox_active.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{516,504}</string>
				<key>spriteSourceSize</key>
				<string>{516,504}</string>
				<key>textureRect</key>
				<string>{{876,0},{516,504}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>checkbox_disabled.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{471,504}</string>
				<key>spriteSourceSize</key>
				<string>{471,504}</string>
				<key>textureRect</key>
				<string>{{876,514},{471,504}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>close-window.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{578,578}</string>
				<key>spriteSourceSize</key>
				<string>{578,578}</string>
				<key>textureRect</key>
				<string>{{0,623},{578,578}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>window.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{866,613}</string>
				<key>spriteSourceSize</key>
				<string>{866,613}</string>
				<key>textureRect</key>
				<string>{{0,0},{866,613}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Menus-uhd.png</string>
			<key>size</key>
			<string>{1392,1201}</string>
			<key>textureFileName</key>
			<string>DF_Menus-uhd.png</string>
		</dict>
	</dict>
</plist>