<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_sprite.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{694,694}</string>
				<key>spriteSourceSize</key>
				<string>{694,694}</string>
				<key>textureRect</key>
				<string>{{0,969},{694,694}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Editor_logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{292,556}</string>
				<key>spriteSourceSize</key>
				<string>{292,556}</string>
				<key>textureRect</key>
				<string>{{379,255},{292,556}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lite_logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{862,148}</string>
				<key>spriteSourceSize</key>
				<string>{862,148}</string>
				<key>textureRect</key>
				<string>{{0,0},{862,148}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Main_logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{862,87}</string>
				<key>spriteSourceSize</key>
				<string>{862,87}</string>
				<key>textureRect</key>
				<string>{{0,158},{862,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>play_btn_logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{369,704}</string>
				<key>spriteSourceSize</key>
				<string>{369,704}</string>
				<key>textureRect</key>
				<string>{{0,255},{369,704}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>settings_btn_logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{700,700}</string>
				<key>spriteSourceSize</key>
				<string>{700,700}</string>
				<key>textureRect</key>
				<string>{{872,0},{700,700}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>DF_Main_menu-uhd.png</string>
			<key>size</key>
			<string>{1572,1663}</string>
			<key>textureFileName</key>
			<string>DF_Main_menu-uhd.png</string>
		</dict>
	</dict>
</plist>